__pycache__/
*.py[cod]
*$py.class
*.pyd

.Python
build/
dist/
*.egg-info/
.eggs/

.venv/
venv/
ENV/
env/

.env
.env.*

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyright/
.vscode/
.idea/

*.log

src/kg/outputs/
src/kg/outputs/**

src/kg/README.md

**/hf_cache/
**/hf_cache/**
**/models_nli/
**/models_nli/**
**/.cache/
**/.cache/**

.DS_Store
Thumbs.db
